html, body {
    height: 100%;
    margin: 0;
}

body {
    /* background: linear-gradient(rgb(223, 177, 177), rgb(196, 80, 92)); */
    font-family: Cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 50px;
}


#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }
  
#cells {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
    gap: 0;
  }
  

.button {
    /* background: rgb(129, 179, 117); */
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    outline: none;
  }

#rematch_button {
    margin-top: 30px;
    /* background-color: rgb(215, 215, 239); */
    border: 1px solid rgb(4, 4, 4);
    border-radius: 5px;
    padding: 10px 20px; /* Adjust padding for better appearance */

    font-size: 20px;
    font-family: Cursive;
    cursor: pointer;
}

#rematchButton:hover {
    background-color: #c7c7e3;
}
  
  #r0_c0 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  #r0_c1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  
  #r0_c2 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  
  #r1_c0 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  #r1_c1 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  
  #r1_c2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  
  #r2_c0 {
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  
  #r2_c1 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  
  #r2_c2 {
    border-top: 1px solid black;
    border-left: 1px solid black;
  }


  






